<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.myapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kichu</name>
    <description>
        Your app description here.
    </description>
    <!-- Set the minimum SDK version to 21 -->
    <preference name="android-minSdkVersion" value="21" />

    <!-- Other preferences and platform-specific configurations go here -->

    <platform name="android">
        <!-- Android-specific configurations go here -->
    </platform>
</widget>
