<?xml version='1.0' encoding='utf-8'?>
<widget id="com.niced.firstapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kichu Pottan</name>
    <description>Your app description</description>
    <author email="your-email@example.com" href="https://your-website.com">Your Name</author>
    
    <!-- Android platform-specific configurations -->
    <platform name="android">
      
        <preference name="orientation" value="landscape" />

        <!-- App Icon -->
        <icon src="res/icon.png" />

        
        <!-- App Preferences -->
        <preference name="android-targetSdkVersion" value="29" />
        <!-- Add more preferences as needed -->
        
        <!-- Permissions -->
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA" />
            <!-- Add more permissions as needed -->
        </config-file>
    </platform>
  <content src="index.html" />

</widget>
